* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Arial', sans-serif;
    background-color: f4f4f4;
    color: rgb(0, 0, 0);
}

header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    z-index: 200;
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0;
}
nav {
    margin-right: 460px;
    padding: 30px;
}

.logo img {
    height: 70px;
    width: 70px;
    padding-top: 10px;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: yellow;
}
  
.login {
    height: 100%;
    width: 100%;
    background-image: url(../img/armarios.jpg);
    background-size: cover;
  }
  
.login .container {
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    display: flex;
    margin-left: 200px;
  }

.formulario {
    display: grid;
    place-items: center;
    width: 400px;
    height: 400px;
    padding: 20px;
    margin-right: 100px;
    margin-top: 100px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 15px 60px yellow;
    outline: 1px solid yellow;
    border-radius: 10px;
  }

.formulario h2{
    color: white;
  }

.input {
    position: relative;
    width: 200px;
  }
  
.input input{
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
  
.input .label {
    position: absolute;
    top: 0;
    left: 0;
    color: yellow;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
.input input[type="text"]:focus ~ .label,
.input input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: yellow;
  }
  
.input .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
.input input:focus ~ .underline,
.input input:valid ~ .underline {
    transform: scaleX(1);
  }

.campo {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
.botao {
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 9px;
  background: #d5f365;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
 }
 
.botao:hover {
  box-shadow: 7px 5px 56px -14px yellow;
 }
 
.botao:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px yellow;
 }
  
#div_erros_login {
  display: none
 }

#mensagem_erro{
  color: yellow;
}

#mensagem_erro a{
  color: hotpink
}